.home_page-select_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px;
}

.home_page-select_box-label {
  margin-right: 10px;
}

.home_page-list {
  padding: 0;
  padding: 10px 0px;
}

.home_page-list-item {
  display: flex;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin-left: 0px 0px 0px 10px;
}